version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: insta_postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: insta_redis
    ports:
      - "6379:6379"

volumes:
  pgdata:
